@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --sidebar-bg: #dceadc;
    --text-color: #56716e;
    --hover-bg: #e6f4ea;
    --hover-text: #198754;
    --active-bg: #d1f0dc;
    --active-text: #198754;
    --font-family: "Poppins", sans-serif;

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    background-color: rgb(244, 248, 244);
}
* {
    font-family: "Poppins", sans-serif;
}

.main-content {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    background-color: #f0fff7;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(244, 248, 244);
}

.bg-clay-green {
    background-color: #6e7f61;
    color: white;
}

.bg-clay-green a:hover {
    background-color: #5c6c52 !important;
}

.sidebar {
    background-color: var(--sidebar-bg);
}
#tableContent table {
    table-layout: auto;
    width: 100% !important;
    word-wrap: break-word;
    font-size: 12px; /* shrink if needed */
}
