@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(244, 248, 244);
}

body,
html {
    height: 100%;
    overflow-y: auto;
}

.product-card {
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 4px hsl(0 0% 0% / 10%);
    border: 0.35rem solid transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: white;
}

.product-card:hover {
    --border-angle: 0deg;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(white, white) padding-box,
        conic-gradient(
                from var(--border-angle),
                #4ade80,
                #3b82f6,
                #9333ea,
                #ec4899,
                #f59e0b,
                #4ade80
            )
            border-box;
    animation: border-angle-rotate 1.5s linear infinite;
}

@keyframes border-angle-rotate {
    to {
        --border-angle: 360deg;
    }
}

.card-body {
    min-height: 150px;
    padding: 0 !important;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-footer {
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.add-product-btn {
    transition: all 0.15s ease-in-out;
}

.add-product-btn:hover {
    background-color: #4ade80 !important;
    color: white !important;
    transform: translateY(-2px);
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

/* Tool tip */

.tooltip-inner {
    background-color: #17a2b8 !important; /* Bootstrap info color */
    color: #fff !important;
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}
.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #17a2b8 !important;
}
